<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
   <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

  <body>
    <!--::header part start::-->
    
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 offset-lg-1">
            <div class="banner_text">
              <div class="banner_text_iner">
                <h5><i>TricksAndTips agence web</i></h5>
                <h1 style="font-family:'Righteous', cursive;">Au plus près de votre succès digital </h1>
                <a href="#ban1" class="btn_1" data-turbolinks="false">Découvrir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- banner part start-->

    <!--::client logo part end::-->
    <section class="client_logo">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div
              class="client_logo_slider owl-carousel d-flex justify-content-between"
            >
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo1.png" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo2.png" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo3.png" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo4.png" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo5.png" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo6.png" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="/assets/img/logo/Logo1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::client logo part end::-->

    <!-- about part start-->
    <section id="ban1" class="about_part section_padding">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6">
            <div class="about_part_text">
              <h5>A propos de nous</h5>
              <h2 style="font-family:'Kaushan Script', cursive;">Une agence  d'expertise digitale</h2>
              <p>
                Notre principal objectif est votre reussite.Nos experts attentifs à vos besoins et à vos objectifs vous accompagneront dans la création de vos sites webs ainsi que dans la stratégie adaptée afin d'optimiser votre presence digitale.
              </p>
              <a href="#ban2" class="btn_1" data-turbolinks="false">Nos services</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_part_img">
              <img src="/assets/img/about_part_img.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about part end-->

    <!-- our_service start-->
    <section id="ban2" class="our_service">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xl-4">
            <div class="single_feature">
              <div class="single_service">
                <span>01</span>
                <h4>
                  Experience utilisateur <br />
                  
                </h4>
                <p>
                  Une étape cruciale d'une part pour que vos utilisateurs se trouvent dans les conditions optimales de navigation.
                </p>
                <ul>
                  <li>Marque et identité</li>
                  <li>Web design</li>
                  <li>Mobile first</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="single_feature">
              <div class="single_service">
                <span>02</span>
                <h4>Développement web</h4>
                <p>
                  Nous travaillons avec des langages de programmation modernes et mettons tout en oeuvre pour assurer la fluidité de votre site.
                </p>
                <ul>
                  <li>Back end</li>
                  <li>Intégration de solutions de paiement</li>
                  <li>SSL</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="single_feature">
              <div class="single_service">
                <span>03</span>
                <h4>Referencement et marketing</h4>
                <p>
                  Le réferencement et le SEO sont des atouts indispensables pour votre visibilité.

                </p>
                <ul>
                  <li>SEO</a></li>
                  <li>Réseaux sociaux</li>
                  <li>Email marketing</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our_service part end-->

    <!-- our_project part start-->
    
    <!-- our_project part end-->

    <!-- about part start-->
    <section class="creative padding_bottom">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 col-xl-6">
            <div class="creative_img">
              <img src="/assets/img/work.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="creative_part_text">
              <h2 style="font-family:'Kaushan Script', cursive;">Nous sommes passionnés et réactifs</h2>
              <p>
                Notre équipe vous conseille et vous accompagne du début à la fin.Laissez vous surprendre par nos créations.
              </p>
              <span style="font-family:'Satisfy', cursive;"
                >“ Dans les affaires, les grandes choses ne sont jamais faites par une seule personne, elles sont faites par toute une équipe. “  - Steve Jobs</span
              >
              <a
                href="https://www.youtube.com/watch?v=9dnzTxh3-Iw"
                class="popup-youtube"
                ><i class="ti-control-play"></i> Voir video</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about part end-->

    <!--::review_part end::-->
    
     
    <!--::review_part end::-->

    <!--::cta_part start::-->
    <div class="cta_part">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="cta_iner">
              <h1 style="font-family:'Righteous', cursive;">Confiez-nous votre projet</h1>
              <a href="#ban3" class="btn_1" data-turbolinks="false">Contactez nous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <section id="ban3" class="contact-section section_padding">
    <div class="container">
      


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title" style="font-family:'Kaushan Script', cursive;">Contact</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  
                    <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" placeholder = 'Message'></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'" placeholder = 'Entrez votre nom'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adresse mail'" placeholder = 'Adresse mail'>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Sujet'" placeholder = 'Sujet'>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_1">Envoyer Message</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Miami beach</h3>
              <p>Dev street,97400</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>06 40xxxxxx</h3>
              <p>Lun à Ven de 9h à 18h</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@tricksandtips.com</h3>
              <p>Envoyez nous vos demandes à tout moment!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!--::cta_part end::-->

    <!-- footer part start-->
    <footer class="footer-area">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="single-footer-widget footer_1">
              <a href="/">
                <img src="/assets/img/footer_log2.png" alt="" />
              </a>
              <ul>
                <li><a href="#ban2" data-turbolinks="false">Services</a></li>
                <li><a href="#ban3" data-turbolinks="false">Contact</a></li>
              </ul>
              <div class="social_icon">
                <a href="#" data-turbolinks="false"><i class="ti-facebook"></i></a>
                <a href="#" data-turbolinks="false"><i class="ti-twitter-alt"></i></a>
                <a href="#" data-turbolinks="false"><i class="ti-dribbble"></i></a>
                <a href="#" data-turbolinks="false"><i class="ti-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-3">
            <div class="single-footer-widget footer_2">
              <h4>Agence</h4>
              <ul>
                <li>
                  <a href="#ban1" data-turbolinks="false">A propos</a>
                </li>
                
                
                <li>
                  <a href="#" data-turbolinks="false">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-3">
            <div class="single-footer-widget footer_2">
              <h4>infos</h4>
              <ul>
                <li>
                  <a href="#" data-turbolinks="false">Mentions légales</a>
                </li>
                <li>
                  <a href="#" data-turbolinks="false">CGV</a>
                </li>
                <li>
                  <a href="#" data-turbolinks="false">cookies</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-3">
            <div class="single-footer-widget footer_2">
              <div class="single_contact_info">
                <h3>Miami - Usa</h3>
                <p>Dev street</p>
                <p>06 40 xxxxxx</p>
              </div>
              <div class="single_contact_info">
                <h3>Paris -FR</h3>
                <p>rue du digital</p>
                <p>06 50 xxxxxx</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright_part_text text-center">
              <div class="row">
                <div class="col-lg-12">
                  <p class="footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="/assets/img/animate_icon/icon_2.png" class="animation_icon_2" alt="">

    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    
  </body>
</html>
